
<br>


<button style="margin-left: 10px; margin-bottom: 10px;" class="topbuttons cyan lighten-2 btn" id="runcode">RUN</button>
<div class="language">

</div>


<div class="status">Connecting...</div>
<br>
<a class='dropdown-button btn' href='#' data-activates='dropdown1'>Language</a>
 <!-- Dropdown Structure -->
 <ul id='dropdown1' class='dropdown-content'>
   <li id="ruby"><a href="#!">Ruby</a></li>
   <li id="java"><a href="#!">Java</a></li>
 </ul>
<br>
<br>
<div class="text_editor">
<pre class="in"></pre>


<pre class="out">
Welcome to my example of my ability to learn new technologies fast.
ONE THE RIGHT IS AN RUBY PROGRAM THAT IS GOING TO OUTPUT THE RESULTS
OF PLAYING A BLACKJACK GAME 100 TIMES.  ALL YOU HAVE TO DO IS CLICK
RUN AND THE RESULTS WILL BE SHOWN RIGHT HERE.
IN ADDITION YOU CAN CHANGE THE LANGUAGE THAT THE CODE IS WRITTEN
SIMPLY BY CLICKING LANGUAGE AND SELECTING FROM THE DROP DOWN MENU

A GOAL OF MINE IS TO ADD NEW LANGUAGES EVERY FEW DAYS WHICH MEANS
REWRITTING THE PRORAM IN THE DIFFERENT LANGUAGE



</pre>
</div>
