// Place all the styles related to the repl controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// *= require codemirror
// *= require codemirror/themes/rubyblue

.text_editor{
  display: flex;
}
.in{
    // background-color: #616161;
    color: #4dd0e1;
    font-size: 14px;
    width: 40%;
    height: 550px;
    // float: right;
    border: 3px solid #424242;

}
.out {
  background-color: #112435;
  color: #4dd0e1;
  font-size: 14px;
  width: 40%;
  height: 550px;
  float: right;
  border: 3px solid #424242;
}
div.CodeMirror.cm-s-rubyblue.CodeMirror-wrap{
  height: 100vh;
}
